/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* COMMON */
/* Layout */


/* HEADER */
.header-sections {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* debug */
    background-color: blue;
    border: 1px solid black;
}
.left-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
/* debug */
background-color: yellow;
width: calc(100% / 3);
}
.lista-header {
    display: flex;
    width: 70%;
/* debug */
border: 1px solid black;
}

.menu {
    width: 70%;
    /* debug */
    min-height: 30px;
    background-color: #008000;
    border: 1px solid #000000;
}
ul .menu {
    list-style: none;
}
.right-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% / 3);
/* debug */
background-color: yellow;
}
.logo {
    /* debug */
    min-height: 30px;
    background-color: #ff69b4;
    width: 30%;
    border: 1px solid #000000;
}
.start-here a {
    text-decoration: none;
}
.start-here {
    text-align: center;
     /* debug */
     min-height: 30px;
    background-color: #ff69b4;
    width: 30%;
    border: 1px solid #000000;
}
/* MAIN */

/* FOOTER */